body{
	display: flex;
	justify-content: center;

}
.container{
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.display{
	padding: 7px;
	width: 330px;
	height: 330px;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	overflow: scroll;
}

.container-botoes{
	width: 330px;
	height: 35px;
	display: flex;
	justify-content: space-evenly;
}

button{
    width: 70px;
}

.texto{
	width: 265px;
}

.item{
	display: flex;
	justify-content: space-between;
	width: 100%;
}